<h1>Listyugg doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>E_mail</th>
	<th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.mail %></td>
    <td><%= doctor.address %></td>
	<td></td>
	<td></td>
	<td></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
	<% if current_user.eql?("Admin")%>
    	<td><%= link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end%>
  </tr>
<% end %>
</table>

<br />